@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container {
  font-family: 'Roboto', sans-serif;
}
.loader {
  border-top-color: #3891b1;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.score-bad {
  color: #c53030;
}
.score-good {
  color: #38a169;
}
.numbers-resizing {
  font-weight: 600;
}
